body{padding: 05% 0;}

main{
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main img{margin-top: 02%;}
#CoresBtn{
    width: 15%;
    margin: 02% 0;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.btnCor{
    width: 20%;
    height: 35px;

    border:none;
    border-radius: 100%;
}
.btnCor:active{
    border:  2px solid white;
}

#bege{background-image: linear-gradient(to right,#110066, #ffd432);}
#vermelho{background-image: linear-gradient(to right,#294973, #f24535);}
#roxo{background-image: linear-gradient(to right,#a65398, #222059);}
#rosa{background-image: linear-gradient(to right,#FF5090, #022f4e);}
/*--------FORMULARIO---------------------------------------*/
form{
    width: 30%;
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 10px; 
    border: none;
    height: 30px;
    padding: 0 02%;
    color: black;
}

#infantil{
    width: 100%;
    margin: 03% 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ----------TOGGLE------------------ */
/* O switch - a caixa em torno do slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Esconder a checkbox padrão do HTML */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* O slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
  }
  input:checked + .slider {
    background-color: rgb(11, 221, 11);
  }
  input:focus + .slider {
    box-shadow: 0 0 2px rgb(11, 221, 11);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  /* Arredondar slider */
  .slider.round {
    border-radius: 17px;
  }
  .slider.round:before {
    border-radius: 50%;
  }


  /*--------BTN---------------------------------------*/
#btn{
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
}
#criar{
      width: 50%;
      height: 30px;

      border: none;
      border-radius: 10px;

      background-color:#29A63C ;
}
#criar:hover{background-color: rgb(56, 56, 56);}
  #cancelar{
    width: 30%;
    height: 30px;

    border: none;
    border-radius: 10px;
    background-color: #ccc;
}
#cancelar:hover{background-color: #f24535;}


/*----------MODAL------------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #022f4e;
  margin: auto;
  padding: 20px;
  border: none;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*----------CONTEUDO------------------------*/
#perfis{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#perfis img{
  max-width: 40%;
}
#perfil1 p{margin: 02% 0;}
#perfil1 img:hover{border:2px solid white;border-radius: 100%;}

#perfil2 p{margin: 02% 0;}
#perfil2 img:hover{border:2px solid white;border-radius: 100%;}

#perfil3 p{margin: 02% 0;}
#perfil3 img:hover{border:2px solid white;border-radius: 100%;}

#perfil4 p{margin: 02% 0;}
#perfil4 img:hover{border:2px solid white;border-radius: 100%;}