body{padding: 05% 0; text-align: center;}

main{
    width: 100%;
    margin-top: 07%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#perfis{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}
#perfis img{
    max-width: 40%;
}
#perfil1 p{margin: 02% 0;}
#perfil1 img:hover{border:2px solid white;border-radius: 100%;}
#perfil2 p{margin: 02% 0;}
#perfil2 img:hover{border:2px solid white;border-radius: 100%;}
#perfil3{
    height: 230px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#criar{ border: 2px solid white; border-radius: 100%; padding: 15%;margin-top: 20%;}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }